<!-- ajaxed.html  -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>Ajax Testing</h1>
    {% url 'ajax_update' %}
    <form id="ajaxform" action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p><input id="ajax_submit_btn" type="submit" class="btn btn-default" value="Ajax Button"/></p>
<!--
        <p><input type="text" placeholder="type something"/></p>
        <p><input id="ajax_submit_btn" type="submit" class="btn btn-default" value="Ajax Button"/></p> 
-->
    </form>
{% endblock content %}
