<!-- question_list.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>{{ worksheet }} </h1>
    <div class="col-md-6">
        {% for i in object_list %}
            <div>{{ i.content_object }}</div>
        {% endfor %}
    </div>

    <div class="col-md-6">
    <h1></h1>
    {% if  form.question.help_text %}    
    <p class="label {% if form.question.help_text == 'incorrect' %} label-danger {% else %} label-success{% endif %}">
        {{ form.question.help_text }}
    </p>
    {% endif %}
    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Check Your Answer">
    </form>
    </div>
{% endblock content %}
