<!-- question_embed.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1> {{ worksheet }} </h1>
    <div class="col-md-6 question_list">
        {% for k, v in question_list.items %}
            <p>
                <span class="label label-{{ v }}">{{ forloop.counter }}</span>
                <a href="/questions/{{ worksheet.slug }}/{{ forloop.counter }}">
                    {{ k }}
                </a>
            </p>
        {% endfor %}
    </div>


    <div class="col-md-6">

        <form id="response_form" action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input id="chk_response_btn" type="submit" value="Check Your Answer">
        </form>

    </div>
{% endblock content %}
